<div class="main">
  <p>Events</p>

  <div class="events">
    <div class="event" *ngFor="let event of recent_events">
      <div class="event__header">
        <!-- <div class="event__header__title">
          <span>{{ event.type }}</span>
        </div>
        <div class="event__header__time">
          <span>{{ event.created_at | date: 'short' }}</span>
        </div>
      </div>
      <div class="event__body">
        <div class="event__body__avatar">
          <img [src]="event.actor.avatar_url" alt="avatar" />
        </div>
        <div class="event__body__content">
          <div class="event__body__content__title">
            <span>{{ event.actor.login }}</span>
          </div>
          <div class="event__body__content__description">
            <span>{{ event.repo.name }}</span>
          </div>
        </div> -->
      </div>
    </div>



</div>
